<%= form_with(model: practice, local: true) do |form| %>
<div class="body-field">
  <div class="field">
    類型<%= select :practice, :bar_type, Practice::BAR_LIST, {}, { class: 'select-field' } %>
  </div>

  <div class="field">
    動作<%= select :practice, :moving, Practice::MOVING_TOTAL_LIST, {}, { class: 'select-field' } %>
  </div>

  <div class="field">
    次數<%= select :practice, :amount, (1..25).to_a, {}, { class: 'select-field' } %>
  </div>

  <div class="field">
    組數<%= select :practice, :unit, (1..10).to_a, {}, { class: 'select-field' } %>
  </div>

  <div class="field">
    組間(分)<%= select :practice, :rest, (1.0..10.0).step(0.5).to_a, {}, { class: 'select-field' } %>
  </div>

  <div class="field">
    重量(公斤)<%= form.number_field :weight, class: "select-field"%>
  </div>

  <%= form.hidden_field :line_id, value: params[:source_user_id] %>

  <div class="actions">
    <%= form.submit '送出', class: "btn btn-primary actions-btn" %>
  </div>
</div>
<% end %>