<p id="notice"><%= notice %></p>

<h1>Practices</h1>

<table>
  <thead>
    <tr>
      <th>Bar type</th>
      <th>Moving</th>
      <th>Amount</th>
      <th>weight</th>
      <th>Unit</th>
      <th>Rest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
    <tr>
      <td><%= practice.bar_type %></td>
      <td><%= practice.moving %></td>
      <td><%= practice.amount %></td>
      <td><%= practice.weight %></td>
      <td><%= practice.unit %></td>
      <td><%= practice.rest %></td>
      <td><%= link_to 'Show', practice %></td>
      <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
      <td><%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice', new_practice_path %>