<% content_for :title, "查詢項目" %>

<%= form_for "moving", url: search_practices_path, method: :post do |form| %>

<% end %>

<%= form_tag search_practices_path, method: :post do %>
<div class="body-field">

  <div class="field">
    查詢前Ｎ個月
    <%= select_tag "month", options_for_select((1..24).to_a), { class: 'select-field' } %>
  </div>

  <div class="field">
    項目
    <%= select_tag "traning", options_for_select(@search), { class: 'select-field' } %>
  </div>

  <div class="actions">
    <%= submit_tag "送出", class: "btn btn-primary actions-btn" %>
  </div>
</div>

  
<% end %>